/* Reset some default browser styling */
body, h1, h2, form, header, main {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer {
    text-align: center;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    margin-bottom: 1rem;
}

h2 {
    margin-top: 1rem;
    border-bottom: 2px solid #e3e3e3;
    padding-bottom: 0.5rem;
}

form {
    margin-top: 2rem;
}

label, input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"] {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

.helper-text {
    display: block;
    margin-top: 5px;
    color: #666; /* Adjust color as needed */
    font-size: 0.9em; /* Adjust font size as needed */
}

/* Navigation Menu Styles */

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
}

.nav-menu li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #444;  /* Add a divider between items */
}

.nav-menu a {
    display: block;
    width: 100%;  /* Ensure links take up full width for easier tapping on mobile */
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}

.nav-menu a:hover {
    background-color: #555;
}

/* Media query for larger screens */

@media (min-width: 600px) {
    .nav-menu {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-menu li {
        border-bottom: none;  /* Remove divider on larger screens */
    }
}
